<form action="/cart" method="post">
    <!-- nokte khili mohem ine ke ma vaghti az form estefade mikonim makhshoosan vaghti az method post estefade mikonim darvaghe ye seri info gharar befrestim khob ma mitoonim ba ye tricki in karo bokonim bara in kar ma az input hidden estefade mikonim 
     -->
    <input type="hidden" name="productId" value="<%= product.id %>" />
    <button class="btn" type="submit">Add to Cart</button>
</form>
